.main-item {
  background-color: black;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  text-align: left;
  transition: background-color 0.3s ease;
}

.main-item.empty {
  background-color: red;
}

.main-item.expanded {
  background-color: red;
}
